In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Importing Data

In [15]:
path = r'C:\Users\Ryan Pares\Instacart Basket Analysis'

In [30]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), nrows=1000)

In [31]:
df.head(3)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0

In [32]:
df.tail(3)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
997,2754807,64,prior,9,6,15,7.0
998,3129760,64,prior,10,1,10,9.0
999,2639013,64,train,11,0,13,27.0

In [33]:
df.shape

(1000, 7)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   order_id                1000 non-null   int64
 1   user_id                 1000 non-null   int64
 2   eval_set                1000 non-null   object
 3   order_number            1000 non-null   int64
 4   order_dow               1000 non-null   int64
 5   order_hour_of_day       1000 non-null   int64
 6   days_since_prior_order  936 non-null    float64
dtypes: float64(1), int64(5), object(1)
memory usage: 54.8+ KB

In [35]:
df.dtypes

order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
order_dow                   int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [36]:
df.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [37]:
df.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,1.000000e+03,1000.0000,1000.000000,1000.000000,1000.000000,936.000000
mean,1.755816e+06,35.2070,16.605000,2.753000,12.807000,11.269231
std,9.685410e+05,17.5319,17.756358,1.986438,3.904228,8.889587
min,7.099000e+03,1.0000,1.000000,0.000000,0.000000,0.000000
25%,9.595460e+05,21.0000,4.000000,1.000000,10.000000,5.000000
50%,1.749362e+06,36.0000,10.000000,3.000000,12.000000,8.000000
75%,2.614904e+06,51.0000,21.250000,5.000000,15.000000,15.000000
max,3.408319e+06,64.0000,82.000000,6.000000,23.000000,30.000000

In [41]:
vars_list = ['order_id', 'user_id']

In [42]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), usecols = vars_list)

In [43]:
df.head()

   order_id  user_id
0   2539329        1
1   2398795        1
2    473747        1
3   2254736        1
4    431534        1